.show-order-con-main{
    position: fixed;
    top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 90vh;
    z-index: 100;
    transition: .3s;

}
.show-order-con{
    width: 70vw;
    max-width:900px ;
    height: 70vh;
    min-width: 600px;
    overflow: hidden;
    overflow-y: scroll;
    padding: 2vw;
    background-color: white;
    border: white solid 1vw;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    z-index: 100;
}
.costumer-information-card{
    width: 100%;
    padding: 2%;
    align-self: start;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.costumer-information{
    width: 45%;
    min-width: 270px;
    margin-top: 10px;
    padding: 2%;
    align-self: start;
    border: solid #006d77 2px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}
.order-title{
    width: fit-content;
    font-size: 1.4rem;
    color: #006d77;
    font-weight: 400;
    align-self: center;
    border-bottom:solid #006d77 1px ;
}
.costumer-information-data{
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin-left: 3px;
}
.costumer-information-card h2{
    font-size: .9rem;
    font-weight: 200;
}
.order-item-list{
    width: 100%;
    margin-top: 10px;
    height: fit-content;
}
.order-item-list ul{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.order-item-list li{
    list-style: none;
    position: relative;
    height: 150px;
    overflow: hidden;
    width: 300px;
    margin: 1%;
    padding: 1%;
    border-radius: 10px;
    border: #006d77 solid 2px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}
.order-item-list li img{
    min-width: 100%;
    border-radius: 10px;
    overflow: hidden;
}
.order-item-list li h3{
    align-self: center;
    font-size: 1.5rem;
    font-weight: 400;
}
.order-item-list li p{
    align-self: center;
    font-size: 1rem;
    font-weight: 200;
    width: 90%;
    padding: 1%;
}
.order-pilling-con{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.order-pilling-title{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.order-pilling-title h2{
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    color: white;
    background-color: #ff4000ab; 
    border-right: 0;
}
.order-pilling-body{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.order-pilling-body h2{
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    color: #52575D;
    border-right: 0;
}
.order-pilling-body:nth-child(odd){
    background-color: #EAF2FF;
}
.order-action-con{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
}
.order-action-con button{
    cursor: pointer;
    width: 30%;
    min-width: 100px;
    margin: 10px;
    height: 40px;
    border: 0;
    background-color: #006d77;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    border-radius: 10px;
    font-size: 1rem;
}
@media (max-width:670px) {
    .show-order-con{
        width: 100vw;
        height: 80vh;
        min-width: auto;
    }
}